* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: gray;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.thing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 10px solid transparent;
  border-color: #00d2ff transparent #3a47d5 transparent;
  border-radius: 50%;
  animation: thing 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}

.thing2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 10px solid gray;
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  border-radius: 50%;
  animation: thing2 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}

.thing3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 10px solid transparent;
  border-color: #d53369 #daae51 #d53369 #daae51;
  border-radius: 25%;
  animation: thing3 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
}

@keyframes thing {
  100% {
    transform: rotatez(1turn);
  }
}

@keyframes thing2 {
  100% {
    transform: rotatez(1turn);
  }
}

@keyframes thing3 {
  100% {
    transform: rotatez(-1turn);
  }
}

